ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    }
ul li {
    position: relative;
}
li ul {
    position: absolute;
    left: 150px;
    top: 0;
    display: none;
    border: 1px solid black;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}        
ul li a {
    font-family: 'Slabo 27px', serif;
    display: block;
    font-size: 24px;
    text-decoration: none;
    color: #fff4ec;
    list-style: none;

}
li:hover ul { 
    display: block;
    font-family: 'Slabo 27px', serif;
    font-size: 24px;
    background-color: #5e5d5f;
}
ul li a:hover{
    font-family: 'Slabo 27px', serif;
    background-color: #5e5d5f;
    text-decoration:underline;
    border: 1px solid black;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 26px;
}