*{
    margin: 0;
    padding: 0;
}
.titulo-texto{
    font-family: 'Slabo 27px', serif;    
    font-size: 18px;
    margin: 15px 25px;
    border-bottom: 3px solid black;
}
.titulo-patrocinador{
    font-family: 'Slabo 27px', serif;    
    font-size: 25px;
    margin: 15px 25px;
    border-bottom: 3px solid black;
    text-align: center;
}
.texto{
    font-family: 'Slabo 27px', serif;    
    font-size: 24px;
    text-align: justify;
    margin: 0 25px;
    font-weight: 2.5px;
}
.texto-inicio>h2{
    font-family: 'Slabo 27px', serif;    
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
}
.texto-inicio>p{
    font-family: 'Slabo 27px', serif;    
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
}
.titulo-console{
    font-family: 'Slabo 27px', serif;    
    font-size: 30px;
    margin: 5px 25px;
    border-bottom: 1px solid black;
    padding-top: 20px;
}
.texto-rodape{
    font-family: 'Times New Roman', Times, serif;    
    text-decoration: none;
    font-size: 18px;
    color: #fff4ec;
    padding: 5px;
    padding-right: 30px;
    margin-top: 5px;
}
.icone>span>span{
    font-family: 'Merriweather', serif;
    font-size: 20px;
}
@media only screen and (max-device-width: 900px) {
    .titulo-texto{
        font-family: 'Slabo 27px', serif;    
        font-size: 45px;
        margin: 15px 25px;
        border-bottom: 3px solid black;
        text-align: center;
    }
    .texto{
        font-family: 'Slabo 27px', serif;    
        font-size: 45px;
        text-align: justify;
        margin: 0 25px;
        font-weight: 2.5px;
    }
    .titulo-console{
        font-family: 'Slabo 27px', serif;    
        font-size: 50px;
        margin: 5px 25px;
        border-bottom: 1px solid black;
        padding-top: 20px;
    }
}